* {
	box-sizing: border-box;
}
body, html, #root {
  margin: 0;
  padding: 0;
}
/* layout */
.app {
  height: 100vh;
  display: flex;
  font-family: Roboto;
}

#map {
  height: 100%;
  width: 100%;
}

#sidebar {
	width: 30em;
	min-width: 30%;
	max-width: 90%;
	height: 100vh;
	position: relative;
	align-self: flex-end;
}


/* BASIC STYLING
======================
*/

/* sidebar
=================
*/

.menu {
	width: 3rem;
	height: 3rem;
	background-color: red;
	position: absolute;
	z-index:10000;
	top: 0;
	left: -3rem;
}

header{
	padding: 2em;
	text-transform: uppercase;
}

.header-intro{
	margin-top: 1rem;
	font-size: 1rem;
	color: white;
}

.title {
	margin: 0;
	font-size: 2em;
	color: #edc80f;
	font-weight: 500;
}

/* dropdown styling */

.select-wrapper select {
   background: #edc80f;
   border: none;
   border-radius: 0;
   font-size: 1rem;
   height: 2rem;
   text-indent: 1rem;
   width: 100%;
}



.intro{
	padding: 0 2em 2em;
	margin: 0;
	color: white;
}

.sidebar-container{
	background-color: #5a656b;
	height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	
}

.locations-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow-y: scroll;
}

.location-item {
	cursor: pointer;
}

.place-title {
	color: #dfe3e5;
	font-weight: 500;
	font-size: 1.25em;
	padding: 1rem 2rem;
	margin: 0;
	background-color: #353f44;
	border-bottom: 1px solid #5a656b;
}

.active .place-title {
	color: #edc80f;
}

.place-info {
	padding: 0 2em;
}

.locations-list .active {
	background: #dfe3e5;
}

.locations-list .place-info{
	max-height: 0;
    transition: max-height 0.25s ease-out;
	overflow: hidden;
}

.locations-list .active .place-info{
	background: #ccc;
	max-height: 10em;
}

/* responsive layout 
======================== */

@media screen and  (max-width: 600px) {
	.app {
		display: block;
		position: relative;
	}
	#map {
		width: 100%;
		position: absolute;
	}
	#sidebar.close {
		width: 3rem;
		transition: width;
		position: absolute;
		top: 0;
		right: 0;
	}
	
}

